{% extends 'admin/layout_admin.html' %}


{% from '_formhelpers.html' import render_field %}


{% block admin_content %}
<div class="row flex-row">
    <div class="col-xl-12 col-md-6">
        <!-- Begin Widget 09 -->
        <div class="widget widget-09 has-shadow">
            <!-- Begin Widget Header -->
            <form method='POST' class='form' enctype='multipart/form-data'>
                <div class="widget-header d-flex align-items-center">
                    <h2>Your Account</h2>
                    <div class="widget-options">
                        <input type='submit' name='submit' class='btn btn-shadow' value='Save Changes'/>
                    </div>
                </div>
                <!-- End Widget Header -->
                <!-- Begin Widget Body -->
                <div class="widget-body">
                    <div class="table-responsive">
                        <table id="sorting-table" class="table mb-0">
                            {{ render_field(form.name) }}
                            {{ render_field(form.avatar) }}
                            {% if user.avatar %}
                                <img style='width: 32px;' src='/uploads/{{ user.avatar.filename }}'/>
                            {% endif %}
                        </table>
                    </div>
                </div>
            </form>
        </div>
        <!-- End Widget 09 -->
    </div>
</div>
{% endblock %}